html {
    height: 100%;
}

body {
    font-family: JetSansDigital;
    margin: 0;
    display: grid;
    justify-content: center;
    place-content: center;
    min-height: 100%;
}

pie-divider {
    display: block;
    margin-block: 2em;
}

/* Form page */

body:has(.c-testForm) {
    display: block;
    padding: 3em;
}

hr {
    margin-block: 2em;
}

.c-testForm {
    ul {
        margin-top: 0;
        list-style-type: none;
    }

    * + * {
        margin-top: 1em;
    }

    section {
        padding: 0.5em;
    }

    input[type="radio"] {
        margin-right: 0.5em;
    }

    label + input,
    label + select {
        margin-left: 1em;
    }

    fieldset  {
        padding: 1em;
    }
}