@use "variables" as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: offwhite;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }


.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.logo + * {
    margin-top: 16px;
}

a {
    color: rgb(var(--foreground-rgb));
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}
p {
    margin: 16px 0;
}